html
{
    font-size: .7vw;
}
@keyframes divanimation {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

body 
{
    background-image:linear-gradient(to left ,#8657ff,#5374ff) ;
}

.fillup
{
  width: 40%;
  height:5.6rem;
  border-radius: 1.2rem;
  
  border: .2rem solid white;
  background-color: transparent;
  text-align: left;
  font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 2.4rem;
    padding: 0 2rem;
}

.font
{
    font-family: 'Courgette', cursive;
    color: white;
    text-align: center;
    font-size: 4.8rem;    
}
.fontbig
{
    font-family: 'Courgette', cursive;
    font-size: 3.2rem; 
}
.font-button
{
    font-family: 'Courgette', cursive;
    font-size: 3.2rem; 
    color: white;
    text-align: center;
    
}

.button
{
    width: 17rem;
    height: 5.6rem;
    border-radius: 1.2rem;

  border: .2rem solid white;
  background-color: transparent;
  margin: .5rem;
  -webkit-transition: background .5s;
    transition: background .5s;
}
.formdiv
{
    align-items: center;
    text-align: center;
}

.font-button:hover
{
    color:#7460f6;
    background-color: white;
}

.fillup:focus
{
    background-color: white;
    color: #4e3acc;
    initial-value: 0;
    border-radius: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

::placeholder
{
    color: white;
}



/*helpdiv*/
.helpdiv
{
    width: 40%;
    margin: 4rem auto;
    background-color: white;
   border-radius: 1.5rem;
   animation: divanimation 2s;
}

.innerhelpdiv
{
    width: 17%;
   text-align: center;
     float: left;
    padding: 3rem 1.5rem;
    margin: 0 .5rem;
    transition: transform .3s linear,opacity 2s;  
}
.innerhelpdiv:hover
{
   transform: rotatez(360deg);
   
    background-color: rgb(43, 132, 161);
    color: white;
    border-radius: 1rem;
}
h2,h3
{
    padding: 0;
    margin: 0;
}
.texth
{
    padding:2rem;

}
.hideclass
{
   display:none;
}
.show
{
    opacity: 100%;
}

table 
{
    margin: 2rem auto;
   border-radius: 2rem;
   background-color: white;
   border:solid white;
   animation: divanimation 2s;
} 
th,td
{
  background-color: white;
  /* width : 4rem; */
  font-size: 3.2rem;
  text-align: center;
  padding: .2rem 2.5rem;
  border: transparent;
  animation: divanimation 2s;
}
tr:hover td
{
    background-color: #d3d3d3;
    border-radius: .5rem;
}

.alert_undefiend
{
    background-color: #FFA0A0;
    width: 40%;
     height:4rem;
  border-radius: 1.2rem;
  
  border: .2rem solid white;
  text-align: center;
  
    color:#262A53;
    font-size: 2.4rem;
    margin: 1rem auto;
    padding: 0 2rem; 
    animation-name: show;
    animation-duration: .8s;
}
.button:active
{
    background-color: #FFA0A0;
    color: #262A53;
}



/*icons*/
.colorw
{
    color: white;
    margin: .3rem 1.6rem;
    
}

.icondiv
{
    text-align: center;
}

.design
{
    color: white;
    font-size: 2.4rem;
}
.designfont
{
    font-family: 'Dancing Script', cursive;
}
#footer {
    position: fixed;
    padding: 1rem 1rem 0 1rem;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 4rem;
    /* background: ; */
}